.main {
  background-color: bisque;
  width: 100vw;
  height:100vh;
}

.header {
  background-color: cadetblue;
  width: 100%;
  height: 10%;

}

.content {
  background-color: coral;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.slides {
  background-color: cornsilk;
  width: 80%;
  height: 80%;
}

.buttons {
  background-color: cyan;
  width: 80%;
  height:6%;
  display: flex;
}

.previous {
  background-color: darkgray;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.edits {
  background-color: darkkhaki;
  flex: 2;

}

.next {
  background-color: darkslateblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;


}